<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Quản lý nhân sự</title>

	<meta name="description" content="Static &amp; Dynamic Tables" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="/eas-web/view/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/eas-web/view/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/eas-web/view/assets/css/fonts.googleapis.com.css" />
	<link rel="stylesheet" href="/eas-web/view/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css"> -->
	<link rel="stylesheet" href="/eas-web/view/assets/css/angular-material.css" />

	<link rel="stylesheet" href="/eas-web/view/assets/css/intern05-eas.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<!-- <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script> -->

	<script src="/eas-web/view/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/eas-web/view/assets/js/bootstrap.min.js"></script>
	<script src="/eas-web/view/assets/js/ace.min.js"></script>

	<!-- <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script> -->

	<!-- <script src="employee.js"></script> -->
	<script src="employeeService.js"></script>
	<script src="employeeController.js"></script>
	<script src="/eas-web/view/pagination/dirPagination.js"></script>

</head>

<body class="no-skin" ng-app="employeePart" ng-controller="employeeCtrl as ctrl">
	<!-- Header -->
	<div id="navbar" class="navbar navbar-default ace-save-state">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="" class="navbar-brand">
					<small>
						<i class="fa fa-laptop"></i>
						<span> Siêu thị điện máy</span>
					</small>
				</a>
			</div>
		</div>
	</div>

	<div class="main-container ace-save-state" id="main-container">
		<!-- Sidebar -->
		<div id="sidebar" class="sidebar  responsive  ace-save-state">
			<ul class="nav nav-list">
				<!-- <li class="">
					<a href="index.html">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text">
							Trang chủ </span>
					</a>
					<b class="arrow"></b>
				</li> -->

				<li class="active open">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-users"></i>
						<span class="menu-text">Quản lý nhân sự</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>

					<ul class="submenu">
						<li class="active">
							<a href="EmployeeDocument.html" class="dropdown-toggle">
								<i class="menu-icon fa fa-caret-right"></i>Hồ sơ nhân viên
							</a>
							<b class="arrow"></b>
						</li>
						<!-- <li class="">
							<a href="#" class="dropdown-toggle">
								<i class="menu-icon fa fa-caret-right"></i> Layouts
							</a>
							<b class="arrow"></b>
						</li> -->
					</ul>
				</li>

				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-archive"></i>
						<span class="menu-text">
							Quản lý kho </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="">
							<a href="/eas-web/eas/warehouse/Importorder/Importorder.html" target="_blank">
								<i class="menu-icon fa fa-caret-right"></i> Nhập hàng
							</a>
							<b class="arrow"></b>
						</li>
						<li class="">
							<a href="/eas-web/eas/warehouse/Exportorder/Exportorder.html" target="_blank">
								<i class="menu-icon fa fa-caret-right"></i> Xuất hàng
							</a>
							<b class="arrow"></b>
						</li>
						<li class="">
							<a href="/eas-web/eas/warehouse/Statistics/Statistics.html" target="_blank">
								<i class="menu-icon fa fa-caret-right"></i> Thống kê
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-list-alt"></i>
						<span class="menu-text">
							Quản lý đơn hàng </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="">
							<a href="/eas-web/eas/invoice/invoice.html" target="_blank">
								<i class="menu-icon fa fa-caret-right"></i> Quản lý hóa đơn
							</a>
							<b class="arrow"></b>
						</li>
						<li class="">
							<a href="/eas-web/eas/invoice/create-invoice.html" target="_blank">
								<i class="menu-icon fa fa-caret-right"></i> Tạo mới hóa đơn
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
			</ul>
			<!-- /.nav-list -->
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
				 data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>

		<!-- Main content -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<h3 class="header smaller lighter blue" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hồ sơ nhân viên</h3>
									<!-- action bar -->
									<div class="clearfix">
										<div class="pull-left tableTools-container">
											<div class="dt-buttons btn-overlap btn-group">
												<button class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Làm mới" ng-click="ctrl.refreshTable()">
													<span>
														<i class="fa fa-repeat bigger-110 blue"></i>
														<span class="hidden">Làm mới</span>
													</span>
												</button>
												<button class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Xem thông tin nhân viên" ng-click="ctrl.showEmployeeInforClick()" name="click">
													<span>
														<i class="fa fa-search-plus blue"></i>
														<span class="hidden">Xem thông tin NV</span>
													</span>
												</button>
												<button class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Thêm mới" ng-click="ctrl.addEmployeeClick()" name="click">
													<span>
														<i class="fa fa-plus bigger-110 blue"></i>
														<span class="hidden">Thêm mới</span>
													</span>
												</button>
												<button class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Sửa" ng-click="ctrl.editEmployeeInforClick()">
													<span>
														<i class="fa fa-pencil bigger-110 pink"></i>
														<span class="hidden">Sửa</span>
													</span>
												</button>
												<button class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Xóa" ng-click="ctrl.deleteEmployeeClick()">
													<span>
														<i class="fa fa-trash-o bigger-110 red"></i>
														<span class="hidden">Xóa</span>
													</span>
												</button>
												<button class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Tìm kiếm" ng-click="ctrl.searchEmployeeClick()">
													<span>
														<i class="fa fa-search bigger-110 black"></i>
														<span class="hidden">Tìm kiếm</span>
													</span>
												</button>
												<button class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table"
												 data-original-title="" title="Xuất file Excel" ng-click="ctrl.exportExcel()">
													<span>
														<i class="fa fa-file-excel-o bigger-110 green"></i>
														<span class="hidden">Xuất file Excel</span>
													</span>
												</button>
											</div>
										</div>
									</div>
									<br />
									<!-- add new employee -->
									<div ng-show="ctrl.addEmployee">
										<form class="form-horizontal widget-box" role="form" name="ctrl.addForm">
											<div class="widget-header">
												<h4 class="widget-title">THÊM MỚI NHÂN VIÊN</h4>
											</div>
											<br />
											<table style="width: 100%">
												<tr>
													<td class="col-sm-5">
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Họ &amp; đệm </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emFirstname" ng-pattern="/^[a-zA-ZÀÁẢÃẠĂẰẮẲẶÂẦẤẨẬĐÈÉẺẼẸÊỀẾỂỄỆÌÍỈĨỊÓÒÕỎỌÔỐỒỖỔỘƠỜỚỠỞỢÙÚŨỦỤƯỪỨỬỮỰỲÝỶỸỴàáảãạăằắẳặâầấẩậđèéẻẽẹêềếểễệìíỉĩịóòõỏọôốồỗổộơờớỡởợùúũủụưừứửữựỳýỷỹỵ ]+$/u"
																 name="firstName" required ng-trim="true" maxlength="30">
																<br>
																<br>
																<span ng-show="ctrl.addForm.firstName.$error.pattern" style="color: red;">Họ &amp; đệm chỉ chứa các kí tự chữ cái và khoảng trống</span>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emLastname" required ng-pattern="/^[a-zA-ZÀÁẢÃẠĂẰẮẲẶÂẦẤẨẬĐÈÉẺẼẸÊỀẾỂỄỆÌÍỈĨỊÓÒÕỎỌÔỐỒỖỔỘƠỜỚỠỞỢÙÚŨỦỤƯỪỨỬỮỰỲÝỶỸỴàáảãạăằắẳặâầấẩậđèéẻẽẹêềếểễệìíỉĩịóòõỏọôốồỗổộơờớỡởợùúũủụưừứửữựỳýỷỹỵ ]+$/u"
																 name="lastName" ng-trim="true" maxlength="30">
																<br>
																<br>
																<span ng-show="ctrl.addForm.lastName.$error.pattern" style="color: red;">Tên chỉ chứa các kí tự chữ cái</span>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày sinh </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emBirthday" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Giới tính </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.emSex" ng-options="sexOptions.sexId as sexOptions.sexOption for sexOptions in ctrl.sexField"
																 required>
																	<option disabled selected value>--Chọn giới tính--</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Quê quán </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemCity" md-search-text="ctrl.searchTextCITY"
																 md-items="item in ctrl.querySearchCITY(ctrl.searchTextCITY)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn quê quán?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextCITY" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có tỉnh/TP "{{ctrl.searchTextCITY}}" ở VN</md-not-found>
																</md-autocomplete>
																<br>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Dân tộc </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemEthnic" md-search-text="ctrl.searchTextETHNIC"
																 md-items="item in ctrl.querySearchETHNIC(ctrl.searchTextETHNIC)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn dân tộc?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextETHNIC" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có dân tộc "{{ctrl.searchTextETHNIC}}" ở VN</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> SDT </label>
															<div class="col-sm-9">
																<input type="tel" maxlength="11" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emPhone" ng-pattern="/^(09|01[2|6|8|9])+([0-9]{7}|[0-9]{8})$/"
																 required name="phoneNumber">
																<br>
																<br>
																<span ng-show="ctrl.addForm.phoneNumber.$error.pattern" style="color: red;">SDT không phù hợp</span>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày BĐ làm </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emStarteddate" required>
															</div>
														</div>

														<div class="form-group">
															<br>
															<br>
														</div>
													</td>
													<td class="col-sm-5">

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Phòng ban </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemDepartment"
																 md-search-text="ctrl.searchTextDEPARTMENT" md-items="item in ctrl.querySearchDEPARTMENT(ctrl.searchTextDEPARTMENT)"
																 md-item-text="item.display" md-min-length="0" placeholder="Chọn phòng ban?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextDEPARTMENT" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có phòng ban "{{ctrl.searchTextDEPARTMENT}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Chức vụ</label>

															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemPosition" md-search-text="ctrl.searchTextPOSITION"
																 md-items="item in ctrl.querySearchPOSITION(ctrl.searchTextPOSITION)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn chức vụ?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextPOSITION" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có chức vụ "{{ctrl.searchTextPOSITION}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Trình độ học vấn</label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemLiteracy" md-search-text="ctrl.searchTextLITERACY"
																 md-items="item in ctrl.querySearchLITERACY(ctrl.searchTextLITERACY)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn trình độ học vấn?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextLITERACY" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có trình độ học vấn "{{ctrl.searchTextLITERACY}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bậc lương</label>

															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.saLevel" required ng-options="salary.saLevel as salary.saLevel for salary in ctrl.salaryField"
																 ng-change="ctrl.showSalaryInfor()">
																	<option disabled selected value>--Chọn bậc lương--</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Lương cơ bản</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saBasic" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số lương</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số phụ cấp</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saAllowanceCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<br>
														</div>

														<div class="form-group">
															<button class="btn btn-white btn-info btn-bold" style="margin-left: 80px;" ng-click="ctrl.addNewEmClick()" ng-disabled="!ctrl.addForm.$dirty || (ctrl.addForm.$dirty && ctrl.addForm.$invalid)">
																<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
																Thêm
															</button>
															&nbsp; &nbsp;
															<button class="btn btn-white btn-danger btn-bold" ng-click="ctrl.closeAddingEmClick()">
																<i class="ace-icon fa fa-times "></i> Hủy
															</button>
														</div>
													</td>
												</tr>
											</table>
										</form>
									</div>
									<!-- Edit employee infor -->
									<div ng-show="ctrl.editEmployeeInfor">
										<form class="form-horizontal widget-box" role="form" name="ctrl.editForm">
											<div class="widget-header">
												<h4 class="widget-title">SỬA THÔNG TIN NHÂN VIÊN</h4>
											</div>
											<br />
											<table style="width: 100%">
												<tr>
													<td class="col-sm-5">
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Mã NV </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" readonly ng-model="ctrl.employee.emId">
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Họ &amp; đệm </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" ng-pattern="/^[a-zA-ZÀÁẢÃẠĂẰẮẲẶÂẦẤẨẬĐÈÉẺẼẸÊỀẾỂỄỆÌÍỈĨỊÓÒÕỎỌÔỐỒỖỔỘƠỜỚỠỞỢÙÚŨỦỤƯỪỨỬỮỰỲÝỶỸỴàáảãạăằắẳặâầấẩậđèéẻẽẹêềếểễệìíỉĩịóòõỏọôốồỗổộơờớỡởợùúũủụưừứửữựỳýỷỹỵ ]+$/u"
																 name="firstName" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emFirstname" required ng-trim="true">
																<br>
																<br>
																<span ng-show="ctrl.editForm.firstName.$error.pattern" style="color: red;">Họ đệm chỉ chứa các kí tự chữ cái và khoảng trống</span>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emLastname" required ng-pattern="/^[a-zA-ZÀÁẢÃẠĂẰẮẲẶÂẦẤẨẬĐÈÉẺẼẸÊỀẾỂỄỆÌÍỈĨỊÓÒÕỎỌÔỐỒỖỔỘƠỜỚỠỞỢÙÚŨỦỤƯỪỨỬỮỰỲÝỶỸỴàáảãạăằắẳặâầấẩậđèéẻẽẹêềếểễệìíỉĩịóòõỏọôốồỗổộơờớỡởợùúũủụưừứửữựỳýỷỹỵ ]+$/u"
																 name="lastName" ng-trim="true">
																<br>
																<br>
																<span ng-show="ctrl.editForm.lastName.$error.pattern" style="color: red;">Tên chỉ chứa các kí tự chữ cái</span>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày sinh </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emBirthday" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Giới tính </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.emSex" ng-options="sexOptions.sexId as sexOptions.sexOption for sexOptions in ctrl.sexField"
																 required>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Quê quán </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.emHometown" ng-options="cityOptions for cityOptions in ctrl.cityField" required>
																</select>
																<!-- <md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemCity" md-search-text="ctrl.searchTextCITY"
																 md-items="item in ctrl.querySearchCITY(ctrl.searchTextCITY)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn quê quán?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextCITY" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có tỉnh/TP "{{ctrl.searchTextCITY}}" ở VN</md-not-found>
																</md-autocomplete> -->
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Dân tộc </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.emEthnic" ng-options="ethnicOptions for ethnicOptions in ctrl.ethnicField" required>
																</select>
																<!-- <md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.employee.emEthnic" md-search-text="ctrl.searchTextETHNIC"
																 md-items="item in ctrl.querySearchETHNIC(ctrl.searchTextETHNIC)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn dân tộc?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextETHNIC" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có dân tộc "{{ctrl.searchTextETHNIC}}" ở VN</md-not-found>
																</md-autocomplete>
																<br> -->
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> SDT </label>
															<div class="col-sm-9">
																<!-- <input type="text" id="form-field-1" value="{{emPhone}}" ng-pattern="/^[0-9]{1,11}$/" required name="phoneNumber" class="col-xs-10 col-sm-9" ng-model="emPhone"> -->
																<input type="text" id="form-field-1" ng-pattern="/^(09|01[2|6|8|9])+([0-9]{7}|[0-9]{8})$/" required name="phoneNumber" class="col-xs-10 col-sm-9"
																 ng-model="ctrl.employee.emPhone">
																<br>
																<br>
																<span ng-show="ctrl.editForm.phoneNumber.$error.pattern" style="color: red;">SDT không phù hợp</span>
															</div>
														</div>

														<div class="form-group">
															<br>
															<br>
														</div>
													</td>
													<td class="col-sm-5">

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày BĐ làm </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emStarteddate" required>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Phòng ban </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.deId" ng-options="department.deId as department.deName for department in ctrl.departmentField"
																 required>
																</select>
																<!-- <md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.employee.deName"
																 md-search-text="ctrl.searchTextDEPARTMENT" md-items="item in ctrl.querySearchDEPARTMENT(ctrl.searchTextDEPARTMENT)"
																 md-item-text="item.display" md-min-length="0" placeholder="Chọn phòng ban?" required>
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextDEPARTMENT" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có phòng ban "{{ctrl.searchTextDEPARTMENT}}"</md-not-found>
																</md-autocomplete>
																<br> -->
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Chức vụ</label>

															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.poId" ng-options="position.poId as position.poName for position in ctrl.positionField" required>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Trình độ học vấn</label>

															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.liId" ng-options="literacy.liId as literacy.liName for literacy in ctrl.literacyField" required>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bậc lương</label>

															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.saLevel" ng-options="salary.saLevel as salary.saLevel for salary in ctrl.salaryField" ng-change="ctrl.showSalaryInfor()"
																 required>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Lương cơ bản</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saBasic" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số lương</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số phụ cấp</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saAllowanceCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<br>
														</div>

														<div class="form-group">
															<button class="btn btn-white btn-info btn-bold" style="margin-left: 80px;" ng-click="ctrl.updateEmployee()" ng-disabled="!ctrl.editForm.$dirty || (ctrl.editForm.$dirty && ctrl.editForm.$invalid)">
																<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
																Lưu
															</button>
															&nbsp; &nbsp;
															<button class="btn btn-white btn-danger btn-bold" ng-click="ctrl.closeEditingFormClick()">
																<i class="ace-icon fa fa-times "></i> Hủy
															</button>
														</div>
													</td>
												</tr>
											</table>
										</form>
									</div>
									<!-- search employee -->
									<div ng-show="ctrl.searchEmployee">
										<form class="form-horizontal widget-box" role="form">
											<div class="widget-header">
												<h4 class="widget-title">TÌM KIẾM NHÂN VIÊN</h4>
											</div>
											<br />
											<table style="width: 100%">
												<tr>
													<td class="col-sm-5">
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Mã nhân viên </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" maxlength="38" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emId">
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Họ &amp; đệm </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" maxlength="30" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emFirstname">
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" maxlength="30" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emLastname">
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày sinh </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emBirthday">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Giới tính </label>
															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.emSex" ng-options="sexOptions.sexId as sexOptions.sexOption for sexOptions in ctrl.sexField">
																	<option disabled selected value>--Chọn giới tính--</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Quê quán </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemCity" md-search-text="ctrl.searchTextCITY"
																 md-items="item in ctrl.querySearchCITY(ctrl.searchTextCITY)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn quê quán?">
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextCITY" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có tỉnh/TP "{{ctrl.searchTextCITY}}" ở VN</md-not-found>
																</md-autocomplete>
																<br>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Dân tộc </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemEthnic" md-search-text="ctrl.searchTextETHNIC"
																 md-items="item in ctrl.querySearchETHNIC(ctrl.searchTextETHNIC)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn dân tộc?">
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextETHNIC" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có dân tộc "{{ctrl.searchTextETHNIC}}" ở VN</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> SDT </label>
															<div class="col-sm-9">
																<input type="tel" maxlength="11" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emPhone">
															</div>
														</div>

														<div class="form-group">
															<br>
															<br>
															<br>
															<br>
														</div>
													</td>
													<td class="col-sm-5">
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày BĐ làm </label>
															<div class="col-sm-9">
																<input type="date" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.emStarteddate">
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Phòng ban </label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemDepartment"
																 md-search-text="ctrl.searchTextDEPARTMENT" md-items="item in ctrl.querySearchDEPARTMENT(ctrl.searchTextDEPARTMENT)"
																 md-item-text="item.display" md-min-length="0" placeholder="Chọn phòng ban?">
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextDEPARTMENT" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có phòng ban "{{ctrl.searchTextDEPARTMENT}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Chức vụ</label>

															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemPosition" md-search-text="ctrl.searchTextPOSITION"
																 md-items="item in ctrl.querySearchPOSITION(ctrl.searchTextPOSITION)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn chức vụ?">
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextPOSITION" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có chức vụ "{{ctrl.searchTextPOSITION}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Trình độ học vấn</label>
															<div class="col-sm-9">
																<md-autocomplete class="col-sm-9" style="padding-left:0; padding-right: 0" md-selected-item="ctrl.selectedItemLiteracy" md-search-text="ctrl.searchTextLITERACY"
																 md-items="item in ctrl.querySearchLITERACY(ctrl.searchTextLITERACY)" md-item-text="item.display" md-min-length="0"
																 placeholder="Chọn trình độ học vấn?">
																	<md-item-template>
																		<span md-highlight-text="ctrl.searchTextLITERACY" md-highlight-flags="^i">{{item.display}}</span>
																	</md-item-template>
																	<md-not-found>Không có trình độ học vấn "{{ctrl.searchTextLITERACY}}"</md-not-found>
																</md-autocomplete>
																<br>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bậc lương</label>

															<div class="col-sm-9">
																<select style="width: 296px; height: 34px;" ng-model="ctrl.employee.saLevel" ng-options="salary.saLevel as salary.saLevel for salary in ctrl.salaryField"
																 ng-change="ctrl.showSalaryInfor()">
																	<option disabled selected value>--Chọn bậc lương--</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Lương cơ bản</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saBasic" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số lương</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số phụ cấp</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" class="col-xs-10 col-sm-9" ng-model="ctrl.employee.saAllowanceCoefficient" readonly>
															</div>
														</div>

														<div class="form-group">
															<br>
														</div>

														<div class="form-group">
															<button class="btn btn-white btn-info btn-bold" style="margin-left: 80px;" ng-click="ctrl.doSearchEmployee()">
																<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
																Tìm kiếm
															</button>
															&nbsp; &nbsp;
															<button class="btn btn-white btn-danger btn-bold" ng-click="ctrl.closeSearchForm()">
																<i class="ace-icon fa fa-times "></i> Hủy
															</button>
														</div>
													</td>
												</tr>
											</table>
										</form>
									</div>
									<!-- employee infor -->
									<div ng-show="ctrl.EmployeeInfor">
										<form class="form-horizontal widget-box" role="form">
											<div class="widget-header">
												<h4 class="widget-title">THÔNG TIN NHÂN VIÊN</h4>
											</div>
											<br />
											<table style="width: 100%">
												<tr>
													<td class="col-sm-5">
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Mã NV </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emId}}" disabled />
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Họ đệm </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emFirstname}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên </label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emLastname}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày sinh </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emBirthday}}" disabled
																/>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Giới tính </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emSexString}}" disabled
																/>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Quê quán </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emHometown}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Dân tộc </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emEthnic}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> SDT </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emPhone}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<br>
															<br>
														</div>
													</td>
													<td class="col-sm-5">

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ngày BĐ làm </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.emStarteddate}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Phòng ban </label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.deName}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Chức vụ</label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.poName}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Trình độ học vấn</label>

															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.liName}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Lương cơ bản</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.saBasic}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số lương</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.saCoefficient}}" disabled
																/>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Hệ số phụ cấp</label>
															<div class="col-sm-9">
																<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-9" value="{{ctrl.employee.saAllowanceCoefficient}}"
																 disabled />
															</div>
														</div>

														<div class="form-group">
															<br>
														</div>

														<div class="form-group">
															&nbsp; &nbsp;
															<button class="btn btn-white btn-danger btn-bold" ng-click="ctrl.closeEmployeeInforClick()">
																<i class="ace-icon fa fa-times "></i> Đóng
															</button>
														</div>

													</td>
												</tr>
											</table>
										</form>
									</div>
									<!-- TABLE-->
									<div ng-show="ctrl.searchTile" style="font-size: 30px; color: #478FCA !important; margin-left: 35%;">KẾT QUẢ TÌM KIẾM</div>
									<div class="form-group" ng-show="ctrl.closeSearchTable" style="float: right; margin-right: 30px; margin-top: 12px;">
										<button class="btn btn-white btn-danger btn-bold" ng-click="ctrl.doCloseSearchTable()">
											<i class="ace-icon fa fa-times "></i> Đóng
										</button>
									</div>
									<div class="dataTables_wrapper form-inline no-footer">

										<!-- table over -->
										<div class="row">
											<div class="col-xs-6">
												<form name="pageSizeValidation">
													<div>
														Hiển thị
														<input type="number" name="pageSize" min="1" max="100" class="form-control" ng-model="ctrl.pageSize"> bản ghi
														<span style="color: red; font-size: 130%;" ng-show="pageSizeValidation.pageSize.$error.number"> &nbsp &nbsp Hãy điền vào 1 số!</span>
													</div>
												</form>
											</div>
											<div class="form-group" style="float:right; margin-right: 20px;">
												<label>Tìm kiếm nhanh</label>
												<input type="text" ng-model="search" class="form-control" placeholder="Tìm kiếm nhanh...">
											</div>
										</div>

										<!-- main table -->
										<table id="dtable" class="table table-striped table-bordered table-hover dataTable no-footer">
											<thead>
												<tr>
													<th class="center">
														<label class="pos-rel">
															<input id="checkAll" type="checkbox" class="ace" ng-click="ctrl.checkAll()" ng-model="ctrl.isAllSelected">
															<span class="lbl"></span>
														</label>
													</th>
													<th ng-click="ctrl.sort('emId')">Mã NV
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emId'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emLastname')">Họ &#38; tên
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emLastname'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emBirthday')">Ngày sinh
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emBirthday'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emSex')">Giới tính
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emSex'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emHometown')">Quê quán
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emHometown'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emPhone')">SDT
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emPhone'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('emStarteddate')">Ngày BĐ làm
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='emStarteddate'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('deName')">Phòng ban
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='deName'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('poName')">Chức vụ
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='poName'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('liName')">Học vấn
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='liName'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
													<th ng-click="ctrl.sort('saBasic')">Lương cơ bản
														<span class="glyphicon sort-icon" ng-show="ctrl.sortKey=='saBasic'" ng-class="{'glyphicon-chevron-up':ctrl.reverse,'glyphicon-chevron-down':!ctrl.reverse}"></span>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr dir-paginate="employee in ctrl.employeeList | limitTo: limit | filter:search | orderBy: ctrl.sortKey: ctrl.reverse | itemsPerPage: ctrl.pageSize">
													<!-- <tr ng-repeat="employee in ctrl.employeeList"> -->
													<td class="center">
														<label class="pos-rel">
															<input type="checkbox" id="{{employee.emId}}" class="ace" ng-model="employee.selected" ng-change="ctrl.optionToggled()">
															<span class="lbl"></span>
														</label>
													</td>
													<td>{{employee.emId}}</td>
													<td>
														<!-- <span>{{employee.emFirstname}} {{employee.emLastname}}</span> -->
														<span>{{employee.emFullName}}</span>
													</td>
													<td>{{employee.emBirthday}}</td>
													<td>{{employee.emSexString}}</td>
													<td>{{employee.emHometown}}</td>
													<td>{{employee.emPhone}}</td>
													<td>{{employee.emStarteddate}}</td>
													<td>{{employee.deName}}</td>
													<td>{{employee.poName}}</td>
													<td>{{employee.liName}}</td>
													<td>{{employee.saBasic}}</td>
												</tr>
											</tbody>
										</table>

										<!-- table fooot and pagination -->
										<div class="row">
											<div class="col-xs-6">
												<div class="dataTables_info">Tổng số bản ghi: {{ctrl.employeeList.length}}</div>
											</div>
											<div class="text-center" style="float: right; margin-right: 30px;">
												<dir-pagination-controls boundary-links="true" max-size="10" direction-links="true" template-url="/eas-web/view/pagination/dirPagination.tpl.html"></dir-pagination-controls>
											</div>
											<br>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-content -->


	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</body>

</html>